In [3]:
# reading study list report:
import pandas as pd

report_csv_path = "/home/sina/gradient-data/Radiology_reports_extraction_pipeline/gradient_pt_ct_all_pairs_query.csv"
df = pd.read_csv(report_csv_path)
print(f"Loaded report: {df.shape[0]} rows, {df.shape[1]} columns")
df.head()

Loaded report: 4564 rows, 14 columns

,pt_row_id,pt_study_uid,patient_id,pt_modality,pt_acquisition_date,pt_report,ct_study_uid,ct_acquisition_date,ct_report,ct_contrast_agent,ct_slice_thickness,ct_series_description,days_between_ct_and_pt,combined_report
0,339587749236740102455301864528816464077.284193...,1.2.826.0.1.3680043.8.498.35754402622244938816...,GRDNTZ99QT8Y5NMZ,PT,2010-04-18,Clinical Data: Initial treatment strategy for ...,1.2.826.0.1.3680043.8.498.90956273933797507695...,2010-03-29,Clinical Data: Negative. Right lower extremi...,NaN,0.273438,AXIAL,20,#CT Report:\nClinical Data: Negative. Right ...
1,56893976444676694709814413572352018399.3053508...,1.2.826.0.1.3680043.8.498.87392152933652660721...,GRDNBTG33DBDYZHJ,PT,2020-01-05,CLINICAL DATA: Initial treatment strategy for...,1.2.826.0.1.3680043.8.498.90423402204862988837...,2019-12-27,CLINICAL DATA: 63-year-old male with osseous ...,NaN,0.300000,MPR 1MM RANGE,9,#CT Report:\nCLINICAL DATA: 63-year-old male ...
2,115961738801034610733969772565477341670.203749...,1.2.826.0.1.3680043.8.498.35763792184605873872...,GRDNJCNULBJJUATX,PT,2022-08-29,Height: 67 inches. Weight: 198.0 pounds. \n\nI...,1.2.826.0.1.3680043.8.498.28970845210758048302...,2022-08-06,HISTORY: Abdominal aortic aneurysm.\n\nCOMPARI...,UNDEFINED,0.500000,NON VRT AP FULL ROTATION,23,#CT Report:\nHISTORY: Abdominal aortic aneurys...
3,169273916834626603348007141775616224451.879896...,1.2.826.0.1.3680043.8.498.97769620527488986931...,GRDNSDFEXJ9QPL92,PT,2022-02-21,Height: 68 inches. Weight: 240.0 pounds.\n\nIN...,1.2.826.0.1.3680043.8.498.50933598179674920900...,2022-01-22,HISTORY: Shortness of breath; evaluate for pul...,UNDEFINED,0.500000,NON VRT ROTATION,30,#CT Report:\nHISTORY: Shortness of breath; eva...
4,39319603764106001291963207120622313706.1371145...,1.2.826.0.1.3680043.8.498.12029078855088565547...,GRDN1K30BA2XZ945,PT,2011-05-09,*RADIOLOGY REPORT*\n\nClinical Data: Subsequen...,1.2.826.0.1.3680043.8.498.90950187584629525888...,2011-05-01,*RADIOLOGY REPORT*\n\nClinical Data: Laryngeal...,NaN,0.600000,TOPOGRAM 0.6 T20S,8,#CT Report:\n*RADIOLOGY REPORT*\n\nClinical Da...

In [6]:
# reading study list report:
import pandas as pd

report_csv_path = "/home/sina/gradient-data/reports_data/df_unique.csv"
df = pd.read_csv(report_csv_path)
print(f"Loaded report: {df.shape[0]} rows, {df.shape[1]} columns")
df.head()

Loaded report: 12481 rows, 24 columns

,row_id,institution,patient_id,accession_number,deid_english_report,study_date,series_description,study_description,slice_thickness,manufacturer,...,lung_nodules,lung_hypermetabolic,lymph_nodes_hypermetabolic,other_hypermetabolic,tracer,scan_region,blood_glucose_level,waiting_time,ct_scan,success
0,'279259046719878799006833465447967742425.31940...,thryothor-495511-PU2Q5,GRDNUZRVW4JEM8P9,GRDNS51T16OKQPCI,CLINICAL DATA: Initial treatment strategy for...,8/30/16,RESULTS MM [REDACTED] READING,NM [REDACTED] IMG [REDACTED] ([REDACTED]) SKUL...,0.0,SIEMENS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,'310440780324215030840303534268304848871.24598...,thryothor-495511-IQYWW,GRDNJD8SBOFBR1KP,GRDNNTYL1L7K9GR2,CLINICAL DATA: Initial treatment strategy for...,4/22/19,MIP RANGE 2,NM [REDACTED] IMG [REDACTED] ([REDACTED]) SKUL...,NaN,SIEMENS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,'147571275528231300255694101948702718658.13836...,thryothor-495511-other,GRDNTBDBE6UMTAAC,GRDNYKC5OY4XNUON,CLINICAL DATA: Subsequent treatment strategy ...,10/20/18,[REDACTED] WB AC,NM [REDACTED] IMAGE [REDACTED] (PS) WHOLE BODY,5.0,SIEMENS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,'2166798648691988519519301241311180052.9051850...,quelea-19938-SIIBL,GRDNHKS94TXSZDUP,GRDNAZDUUA4JDDUY,Height: 57 inches. Weight: 121.0 pounds.\n\nIN...,1/12/22,CORONAL [REDACTED]/CT [REDACTED],[REDACTED] CT SKULL BASE TO THIGH_RESTAGING,NaN,SIEMENS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,'140040631785331202643719215388457666810.11935...,quelea-19938-SIIBL,GRDN2CACCKITTET0,GRDNTANKZNF1VSWO,Height: 66 inches. Weight: 136.0 pounds.\n\nIN...,9/15/22,[REDACTED] AC,[REDACTED] CT SKULL BASE TO THIGH_RESTAGING,NaN,SIEMENS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN